.hero {
    background-image: url('../src/assets/images/hero.jpg') ;
}
.contact {
    background-image: url('../src/assets/images/Contact-Us-page.jpg') ;
    background-size: 100%;
}
.header {
    transition: background-color 0.3s ease; /* Smooth transition for background color */
  }
  